        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #ffffff;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin: 0;
            color: rgb(0, 0, 0);
            text-align: center;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
            font-size: 30px;
            text-align: center;
            position: relative;
        }

        section {
            margin-top: 30px;
        }

        h4 {
            color: #007BFF;
            font-size: 18px;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td, tr {
            text-align: center;
        }

        th{
            background-color: #e4deca;
            
        }

        .box{
            text-align: center;
            width: 150px;
            height: 150px;
            padding-left: 10%;
            padding-right: 10%;
            margin: auto;
            border: 1px dashed ;
            font-size: 1rem;
        }

        #container{
            margin: auto;
            width: 90%;
            height: 0;
            border: 4px solid black;

            /* grid stuff below */
            display: grid;
        }
